@import "../base";

.homepage {
  background-color: $backgroundColor;
}

.homepage_content {
  @include pageAdaptedContent;
  display: grid;
  grid-template-columns: auto;
  row-gap: 20px;
  justify-content: center;
}

.homepage_post-links-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 400px;
  grid-gap: 24px;

  @media only screen and (min-width: 800px) {
    grid-template-columns: repeat(2, 1fr);
  }

}