.about-me {
  display: inline-grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  grid-gap: 20px;

  @media only screen and (min-width: 800px) {
    grid-template-columns: 1fr auto;
  }
}

.about-me_image-wrapper {
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
}