@import "../../base";

$personalLinkIconSize: 30px;

.personal-link {
  padding: 2px;
  margin: 2px;

  &:last-child {
    padding-right: 0;
    margin-right: 0;
  }

  svg {
    transition: all $animationSpeedNormal ease-out;
  }

  &:hover {
    svg {
      fill: $primaryColor;
    }
  }
}

.personal-link_icon-wrapper {
  width: $personalLinkIconSize;
  height: $personalLinkIconSize;
}
