@import "../../colors";

$postLinkImageHeight: 70%;

@mixin withBackgroundImage {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.post-link {
  display: grid;
  grid-template-rows: $postLinkImageHeight 1fr;
  border: 1px $bordersColor solid;

  border-radius: 12px;
  flex-direction: column;
  text-decoration: none;
  overflow: hidden;
  background-color: $backgroundSecondaryColor;
  transition: all 200ms ease-out;

}

.post-link_image-container {
  position: relative;
  display: flex;
}

.post-link_image {
  @include withBackgroundImage;
  width: 100%;
  height: 100%;
}

.post-link_icon {
  @include withBackgroundImage;
  position: absolute;
  top: 0;
  left: 6px;
  height: 1.7rem;
  width: 1.7rem;
}

.post-link_title {
  font-size: 1.6rem;
  color: $textMainColor;
}
.post-link_description {
  font-size: 1.2rem;
  color: $textMainColor;
}