@import "../../base";

$postLinkImageHeight: 150px;
$postLinkImageWidth: 200px;
$postLinkPadding: 20px;

@mixin withBackgroundImage {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.post-link {
  text-decoration: none;
  overflow: hidden;
  background-color: rgba($primaryColor, 0.07);
  transition: all 200ms ease-out;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.05);

  display: grid;
  grid-template-areas:
          "p p p" //preview
          ". . ."
          ". h ." //header
          ". t ." //text
          ". i ." //info
          ". . .";
  grid-template-columns: $postLinkPadding 1fr $postLinkPadding;

  align-items: start;
  grid-row-gap: 1rem;

  @media only screen and (min-width: $desktopScreenWidthBreak) {
    grid-template-areas:
            "p h i"
            "p t t";
    padding: $postLinkPadding;
    grid-template-columns: $postLinkImageWidth 1fr auto;
    grid-template-rows: auto 1fr;
    grid-column-gap: 28px;
    grid-row-gap: 0.75rem;
  }

  &:not(:first-child) {
    margin-top: 2rem;
  }

  &:hover {
    transform: translateY(-6px) scale(1.01);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
}

.post-link_preview-image-container {
  height: $postLinkImageHeight;
  grid-area: p;
}

.post-link_preview-image {
  @include withBackgroundImage;
  width: 100%;
  height: 100%;
}

.post-link_title {
  @include readableFont(1.3rem, $headersTextColor);
  @include lineHeightCrop;
  grid-area: h;
  margin-bottom: 0;
}

.post-link_description {
  @include readableFont(1rem, $textMainColor);
  grid-area: t;
}

.post-link_additional-info {
  display: flex;
  grid-area: i;
  justify-content: flex-end;
}

.post-link_icon {
  @include withBackgroundImage;
  width: 24px;
  height: 24px;
}