@import "../../base";

$postLinkImageHeight: 150px;
$postLinkImageWidth: 200px;
$postLinkAdditionalInfoWidth: 150px;

@mixin withBackgroundImage {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.post-link {
  text-decoration: none;
  overflow: hidden;
  background-color: rgba($backgroundSecondaryColor, 0.2);
  transition: all 200ms ease-out;
  padding: 20px;

  display: grid;
  grid-template-columns: $postLinkImageWidth 1fr $postLinkAdditionalInfoWidth;
  grid-column-gap: 28px;

  &:not(:first-child) {
    margin-top: 30px;
  }
}

.post-link_image-container {
  display: flex;
  flex: 0 0 $postLinkImageWidth;
  height: $postLinkImageHeight;
}

.post-link_image {
  @include withBackgroundImage;
  width: 100%;
  height: 100%;
}

.post-link_title {
  font-size: 1.5rem;
  color: $textMainColor;
}

.post-link_description {
  font-size: 1.1rem;
  color: $textMainColor;
  margin-top: 12px;
}

.post-link_additional-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 10px;
}

.post-link_icon {
  @include withBackgroundImage;
  width: 24px;
  height: 24px;
}