@import "../base";

.header {
  border-bottom: $bordersColor 2px solid;
}

.header_content-container {
  @include pageAdaptedContent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_image-container {
  width: 48px;
  border-radius: 50%;
  overflow: hidden;
}
