$paletteColor1: #f8f7ff;
$paletteColor2: #006076;
$paletteColor3: #005555;
$paletteColor4: #e3e3e7;

$backgroundColor: $paletteColor1;
$backgroundSecondaryColor: $paletteColor4;
$textMainColor: $paletteColor2;
$headerTextColor: darken($textMainColor, 20%);
$bordersColor: $paletteColor3;