$paletteColor1: #f8f7ff;
$paletteColor2: #006076;
$paletteColor3: #005555;
$paletteColor4: #f4f5f9;

$backgroundColor: $paletteColor1;
$backgroundSecondaryColor: $paletteColor4;
$textMainColor: $paletteColor2;
$bordersColor: $paletteColor3;