$primaryColor: #2f98b0; //using split-complementary colors
$secondaryColor: #ab832e;
$tertiaryColor: #ab2e55;

$headersTextColor: darken($primaryColor, 8%);
$backgroundColor: lighten($tertiaryColor, 55%);
$textMainColor: darken($secondaryColor, 35%);
